{# <form action="{{ path('student_list_result') }}">
#}
<form>
    Nsc: <input type="number" name="nsc">
    <input type="submit" name="rechercher" value="rechercher">
</form>
{% if listSt|length == 0 %}
<h1>Aucune données</h1>
{% else %}
<ul>
    {% for c in listSt %}
        <li>{{ c.nsc }} ** {{ c.email }} ** {{ c.classroomId.nom}}

    {% endfor %}
</ul>

{% endif %}