 <form>
    Name <input type="text" name="name" value="">
    <input type="submit" name="ajouter" value="Ajouter">
</form>

 {#<form method="post" action="{{ path("new2add_classroom") }}">
    Name <input type="text" name="name" value="">
    <input type="submit" value="Ajouter">
</form>#}