<ul>
{% for c in list %}
<li>{{ c.id }} ** {{ c.nom }}
<a href="{{ path('update_classroom', {'id':c.id}) }}">Modifier</a> <a href="{{ path('delete_classroom', {'id':c.id}) }}">Supprimer</a></li>
{% endfor %}
</ul>